/*

Theme Name: irswood

Theme URI: https://www.facebook.com/profile.php?id=100002158781957

Description: Тема для корпоративного сайту

Author: Nazar Mentukh 

Author URI: https://www.facebook.com/profile.php?id=100002158781957

Version: 1.0.0

*/

/*Верхня інформація*/

/*	*{

		font-family: 'PT Sans', sans-serif;
	}*/
	body {
		font-size: 1.3rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	p {
		cursor: default;
	}
	*{
		outline: none;
	}
	/*ГОЛОВНА СТОРІНКА ПОЧАТОК !*/
	.first-content-block {
		background-image: url(images/so-many-trees-gd-red.jpg;); 
		background-attachment: fixed;
		margin: -20px 0px;
		background-size: cover;
	}
	
	
	#header { 
		margin: 0px;
		width: 100%;
		color: white;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(90deg, #61A93E 0%, #85CF61 100%);
		display: inline-flex;
		border-radius: 0px 0px 10px 10px;
		padding: 10px 0;
		top: -5px;
		position: relative;
		z-index: 100;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	    font-size: 0.9rem;
	}
	@media screen and (max-width: 992px ) {
	#header {
		font-size: 1.4rem;
	}
	}
	#header h6 {
		margin-bottom: 0;
	}
	#header p {
		margin-bottom: 0;
	}
	.header-tel {
		display: flex;
		position: relative;
	}
	@media screen and (max-width: 992px ) {
	.header-tel {
		display: block;
	}
	.header-tel span {
		font-size: 1.8rem;
	}
	}
	@media screen and (max-width: 992px ) {
	.logo {
		line-height: 3.5rem;
    	font-size: 1.2rem;
	}
	}
/*навігаційна панель*/

	#nav {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(90deg, #61A93E 0%, #85CF61 100%);
    	color: white;
    	border-radius: 0px 0px 6px 6px;
    	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    	position: relative;
    	top: -1rem;
    	z-index: 99;
    	padding-top: 15px;
    	padding-bottom: 0;
    	width: 100%;
		
	}
	.menu {
		margin: 0px 0px 5px;
    	display: flex;
    	list-style-type: none;
    	font-size: 1.2rem;
		padding: 0;
	}
	
	.menu-item-type-custom>a {
		pointer-events: none;
   		cursor: default;
	}

	.menu-item {
		color: black;
    	margin-left: 20px;
    	padding: 3px 30px 0;

	}

	.menu-item a {
		text-decoration: none;
		color: white;
		z-index: 100;
	}
	.menu-item a:hover {
		color: #dedede;
	}

	.sub-menu {
		display: none;
    	background-color: #3f662c;
    	position: absolute;
    	list-style-type: none;
    	padding: 0;
    	border-radius: 5px;
    	border: 4px solid #1f4600;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	.sub-menu li {
		margin: 0;
		padding: 5px 30px;
	}

	.menu li:hover .sub-menu{display: block;}

	.menu li:hover {color: #dedede}

	.lng-select {
		vertical-align: text-bottom; 
		font-weight:  bold; 
		text-decoration:  
		underline; color: rgba(0,0,0,.8);
	}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
@media screen and (max-width: 992px ) {
	body {
		font-size: 2.2rem;
	}
}
@media screen and (max-width: 992px ) {
	.cta-p {
		font-size: 2rem!important;
	}
}
/*Фон*/

	.background-block{
		height: 100%;
		width: 100%;
		position: fixed;
		margin: 0;
		padding: 0;
		z-index: -99;
		top: 0;
	}

/* Початок стилів першого блоку з відео*/

	.first-content-block{
		color: white;
		margin-top: -20px;
		padding: 40px 7%;
	}

	.first-content-block-row-one{
		width: 100%;
		text-align: center;

	}

	.first-content-block-row-one h1{
		font-size: 2.5rem;
	}
	@media screen and (max-width: 992px ) {
		.first-content-block-row-one h1{
		font-size: 3.5rem;
	}
	}
	.cta-p {
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 1.6rem;
	}
	@media screen and (max-width: 992px ) {
		.cta-p {
		font-size: 1.5rem;
	}
	}
	.form-tel {
		display: flex;
		padding-bottom: 20px;
	}
	.first-content-block-row-two {
	    padding-top: 10px;

	}
	.first-content-block-row-two h3{

		margin-bottom: 24px;

    	font-size: 1.5rem;

    	font-weight: bold;

    	text-shadow: 0 0 15px rgba(0,0,0,0.5);
	}
	@media screen and (max-width: 992px ) {
	.first-content-block-row-two h3 {
		font-size: 3rem;
	}
	}

	.first-content-block-row-two p{

		margin-bottom: 0;

    	font-size: 1.3rem;

	}
	@media screen and (max-width: 992px ) {
		.first-content-block-row-two p{
    	font-size: 2.5rem;
    	letter-spacing: -1px;
	}
	}


	.first-content-block-row-two-input{
		background: rgba(0,0,0,0.5);
	    border-radius: 15px 0px 0px 15px;
	    border: none;
	    color: white;
	    height: 65px;
	    width: 50%;
	    font-size: 1.8rem;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 992px ) {
	.first-content-block-row-two-input {
		height: 65px;
		width: 65%;
		font-size: 2rem;
	}
	}
	.first-content-block-row-two-form-submit {
		color: white;
   		border: none;
   		background: linear-gradient(90deg, #DB5C14 0%, #E06A14 100%);
   		height: 65px;
    	border-radius: 0 15px 15px 0;
    	width: 35%;
		font-size: 1.8rem;
	    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	@media screen and (max-width: 992px ) {
	.first-content-block-row-two-form-submit {
		height: 65px;
		width: 30%;
		font-size: 2rem;
	}
	}
	.ne-vyishli-z-ladu span{
		font-size: 2rem;
	}
	@media screen and (max-width: 992px ) {
	.ne-vyishli-z-ladu span{
		font-size: 4rem;
	}
	}
	.first-content-block-row-two-over-video{
		padding: 10px;
		font-size: 20px;
		margin: 5px;
		text-align: center;
		color: #FFFFFF;
		border-radius: 15px;
		background: rgba(183,24,3,0.25);
	}

	.video-box{
		margin: 2% 0;
	}
	@media screen and (min-width: 991 ) and (max-width: 1072px ) {
  		.separator{
  			display: none;
  		}
  		.first-content-block-row-two-over-video{
  			width: 100%;
  		}
	}

	/*Кнінець першого блоку з відео*/



	/*Початок другого блоку "ВЛАСНИКАМ"*/	

	.tabs { 
		width: 100%;
		padding: 1%;
		margin: 0 auto; 
		background-color: #2D5C17;
		border-radius: 10px;
		}

	.tabs>input { display:none; }

	.tabs>div { 
		display: none;
	    padding: 12px;
	    border: none;
	    background: #518a37;
	    border-radius: 0 10px 10px 10px;
	}

	.tabs>label {
	    display: inline-block;
	    padding: 7px;
	    margin: 0px 10px 0px 0px;
	    text-align: center;
	    color: white;
	    border: none;
	    border-radius: 10px;
	    background: #2D5C17;
	    cursor: pointer;
	}

	.tabs>input:checked + label {
		border-radius: 10px 10px 0px 0px;
	    color: white;
	    border: none;
	    border-bottom: none;
	    background-color: #518a37;
	}

	#tab_1:checked ~ #txt_1,
	#tab_2:checked ~ #txt_2,
	#tab_3:checked ~ #txt_3,
	#tab_4:checked ~ #txt_4 { display: block; }

	.tabs-submit-link {
		background: #67b83f;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		border: none;
	    width: 30%;
	    height: 40px;
	    color: white;
	}
	@media screen and (max-width: 992px) {
		.tabs-submit-link{
			width: 520px;
			height: 70px;
		}
	}
	/*Кінець другого блоку "ВЛАСНИКМ"*/

	/*Початок блоку три "ПРО МИКУЛИНЕЦТКИЙ ЗАВОД" */

	.third-content-block-row-one{
		padding: 15px 0px 0px 0px;
		margin: 15px 0px 0px 0px;
		color: white;
	}

	.text-holder{
		width: 100%;
		padding: 1%;
		margin: 0 auto; 
		background-color: #2D5C17;
		border-radius: 10px 10px 0px 0px;
	}

	.text-holder div {
		padding: 1%;
		border-radius: 10px;
		background-color: #6CC244;
	}

	/*Кінець блоку три "ПРО МИКУЛИНЕЦТКИЙ ЗАВОД" */



	.midle-text-icone-forma-one h4{
		font-size: 2rem;
		margin: 20px

	}	

	.midle-text-icone-forma-one-one, .midle-text-icone-forma-one-two, .midle-text-icone-forma-one-three{
		margin: 20px 0px;
		width: 100%;
	}
	.icon {
		text-align: center;
	}
	
	.icon-fp {
		padding: 0;
	}
	.icon-fp img {
		width: 100%;
	}

	.fp-syr-text {
		padding: 0;
	}
	.fp-syr-text p {
		margin: 0 0 0 5px;
	}
/* ГОЛОВНА СТОРІНКА КІНЕЦЬ !*/












/*================================================*/












/*СТОРІНКА ЛІНІЙ БРИКЕТУВАННЯ ПОЧАТОК !*/
	.lin-breck-row-content-one{
		padding: 40px 7%;
		background-image: url(images/lin-breck-one.jpg);
		color: white;
		background-size: cover;
		margin-top: -20px;
	    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	.how-btn{
		background-color: #64AC41;
		border: none;
		color: white;

		border-radius: 5px;
		width: 215px;
    	height: 35px;

		border-radius: 10px;
		width: 250px;
    	height: 40px;
    	margin-bottom: 1rem;
    	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    	cursor: pointer;
	}
	.how-btn:hover {
		background-color: #48842a;
		transition: 0.1s;

	}
	.get-call {
		background-color: #DB5C14;
		color: white;
		border-radius: 10px;
		border: none;
		width: 100%;
		height: 65px;
		font-size: 2rem;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		cursor: pointer;
	}
	.get-call:hover {
	    background-color: #b54c10;
	    transition: 0.1s;
	}
	.lin-breck-row-content-three {
		padding: 20px 0;
	}
	.lin-breck-row-content-three-one{
		text-align: center;
		cursor: default;
	}
	.lin-breck-callback {
		border-radius: 10px!important;
		width: 100%!important;
		font-size: 1.4rem!important;
		text-align: center!important;
	}

/*Текстовий слайдер початок*/		
	.tabs-lin {
		padding: 30px 7%; 
		width: 100%;
		margin: 0 auto; 
		border-radius: 10px;
		}
	.tabs-lin>input { display:none; }

	.tabs-lin>label:hover{
		background-color: #e6e9e4;
		border-radius: 10px 10px 0px 0px;
	}

	.tabs-lin>div { 
		display: none;
	    padding: 12px 0;
	    border-top: 3px solid #438A21;
	    
	}
	.tabs-lin>label {
		font-size:  2rem;
	    display: inline-block;
	    padding: 7px 15px;
	    margin: 0px 0 0px 0px;
	    text-align: center;
	    border: none;
	    border-radius: 10px;
	    cursor: pointer;
	}
	.tabs-lin>input:checked + label {
		border-radius: 10px 10px 0px 0px;
	    color: white;
	    background-color: #438A21;
	    border: none;
	    border-bottom: none;
	    font-size: 2rem;
	    }
	#tab_1-lin:checked ~ #txt_1-lin,
	#tab_2-lin:checked ~ #txt_2-lin,
	#tab_3-lin:checked ~ #txt_3-lin{ display: block; }

	/*Текстовий слайдер кынець*/


	.lin-breck-row-content-four{
		margin: 20px 7%;
		background-color: #61A93E;
		border: 10px solid #61A93E;
		border-radius: 10px;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

	}
	.lin-breck-row-content-four-one{
		background-color: white;
		border-radius: 10px;
		width: 100%;
		padding: 20px 3%;
	}

	.lin-breck-row-content-four-two{
		color: white;
		font-size: 1.5rem;
	}
	.lin-breck-row-content-four-two-one{
		padding: 30px;
	}
	.lin-breck-row-content-four-two-two{
		text-align: center;
	}
	.lin-breck-row-content-four-two-two p {
		margin:0;
	}
	.lin-breck-row-content-five-one{
		background-color: #3F662C;
		border-radius: 5px;
		color: white;
	}


	/*СТОРІНКА ЛІНІЙ БРИКЕТУВАННЯ КІНЕЦЬ !*/










/*======================================================*/





/* СТОРІНКА ПРО ГІДРАВЛІЧНІ ПРЕСИ ПОЧАТОК !*/
	.gidr-press-bck {
		cursor: default;
	}
	.gidr-press-row-content-one {
		background-image: url(images/gidr-press.jpg);
		color: white;
		background-size: cover;
		margin-top: -20px;
    	padding: 40px 7%;
    	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	.gidr-press-row-content-one h1 {
		margin-bottom: 1.3rem;
	}
	.white-background-button {
		background: rgba(0,0,0,0.2);
    	color: black;
	}

	.gidr-press-row-content-one-one{
		width: 100%;
	}

	.gidr-press-row-content-one-two{
		margin: 0;
		padding: 0;
	}

	.gidr-press-row-content-two{
		padding: 40px 7%;
	}
	.gidr-press-row-content-three {
		padding: 0 7%;
	}
	.call-form, form {
		width: 100%;
	}
	.call-form p {
		font-size: .9rem;
    	color: #fff;
    	text-shadow: 0px 0px 10px #000;
    	font-weight: bold;
	}
	
	.first-page-syr {
	    margin: 0 5px;
	}

	.gidr-press-row-content-one-two-submit{
		background-color: #DB5C14;
		color: white;
		border: none;
		border-radius: 0px 15px 15px 0px;
		margin: 0px;
		height: 65px;
		width: 35%;
		font-size: 1.5rem;
		cursor: pointer;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	.gidr-press-row-content-one-two-submit:hover{
		background-color: #b54c10;
		transition: 0.1s;
	}

	.gidr-press-row-content-one-input{
		border-radius: 15px 0px 0px 15px;
	    height: 65px;
	    width: 60%;
	    margin: 0px;
	    padding: 5px 5px 5px 15px;
	    border: none;
	    background: rgba(0,0,0,0.5);
	    color: white;
	    font-size: 1.5rem;
	    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	.white-background-button {
		background: rgba(0,0,0,0.2);
    	color: black;
	}
	.white-background-button::placeholder {
		color: #e8e8e8;
	}

	.gidr-press-row-content-four{
		padding: 20px 6%;
	}

	.gidr-press-row-content-five-one{
		background-color: #3F662C;
		border-radius: 10px;
		color: white;
		padding: 10px 7%;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}

	.gidr-press-row-content-five-one p {
		margin: 0;
		font-size: 1.5rem;
	}
	.gidr-press-row-content-five-two {
		font-size: 1rem;
	}
	.container-padding-top {
		padding-top: 20px;
    	padding-bottom: 20px;
	}
	.colored {
		background-color: white;
		color: black;
		border: 3px solid #438A21;
		border-radius: 10px;
		text-align: center;
		margin: 10px auto;
		flex: 0 0 30%;
    	max-width: 30%;
    	transition: 0.2s;
    	cursor: default;
    	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	}
	.colored p {
		margin: 0;
		line-height: 64px;
	}
	.colored:hover {
		color: white;
		background-color: #438A21;
	}
	


/*СЛАЙДЕР*/

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 6%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.white-background-button:placeholder {
	color: #e8e8e8;
}

/* Fading animation */
.fade {
  opacity: 1;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*СЛАЙДЕР*/

/* СТОРІНКА ПРО ГІДРАВЛІЧНІ ПРЕСИ КІНЕЦЬ !*/











/*=====================================================*/










/*ЕКСТРУДЕРНІ ПРЕСИ ПОЧАТОК !*/

.ekst-press-row-content-one{
	color: white;
	background-image: url(images/ekst-press.jpg);
	padding: 40px 7%;
    margin-top: -20px;
    background-size: cover;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.udar-press-row-content-one-two {
	margin: 4rem 0 0 0;
    padding: 0;
}
.ekst-press-send-form{
	width: 100%;
}


.ekst-press-row-content-two{
	padding: 0 7%;
}

	.ekst-press-row-content-three{
		padding: 20px 6%
	}

	.ekst-press-row-content-fore-one {
		background-color: #3F662C;
		border-radius: 10px;
		color: white;
	}

	.ekst-press-row-content-fore-one p {
		margin: 10px auto;
	}



/*ЕКСТРУДЕРНІ ПРЕСИ КІНЕЦЬ !*/


/*УДАРНО-МЕХАНІНЧІ ПРЕСИ ПОЧАТОК !*/
.udar-press-row-content-one {
	background-image: url(images/udar-meh.jpg);
	color: white;
	background-size: cover;
	margin-top: -20px;
    padding: 40px 7%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.udar-press-row-content-one h1 {
	margin-bottom: 1rem;
}
/*УДАРНО-МЕХАНІНЧІ ПРЕСИ КІНЕЦЬ !*/


/*===================================================*/










	.lang-item {
		padding: 0 2px;
	}
	.lang-item a {
		color: #313131;
	    font-weight: 600;
		text-decoration: underline;

	}

/*ФОРМА ВІДПРАВКИ СТИЛІ*/
	.wpcf7-mail-sent-ok {
    position: absolute;
    z-index: 888;
    right: 0px;
    margin-top: 1rem!important; 
    width: 370px;
	}
	
	.wpcf7-not-valid-tip {
		z-index: 998;
    	position: absolute;
    	bottom: -65px;
    	width: 370px;
	}

	.wpcf7-validation-errors {
    	display: none!important;
	}
	#wpcf7-f63-o1 form .wpcf7-mail-sent-ok {
		bottom: 2rem;
    	left: 1%;
	}
/*ФОРМА ВІДПРАВКИ СТИЛІ*/


/*press-page-icone-text-block СТИЛІ ПОЧАТОК !!!*/
	
	.icon-fp img{ 
		max-width: 100%;
		max-height: 100%;
	}
/*press-page-icone-text-block СТИЛІ КІНЕЦЬ !!!*/


/*ФУТЕР початок */



	.footer {
		color: white;
		padding: 10px 20px;
		margin: 0;
		background-color: #2D5C17;

	}

	.adresa {

		color: white;

	}

	.dig-trick {
		text-align: right;
		font-size: 11px;

	}

	.telephone, .iviber, .skupe {
		margin-top: 3%;
	}
	/*ФУТЕР кінець*/

	
	.green-call-form {
		border-radius: 15px;
    	width: 30%;
    	height: 45px;
    	margin-bottom: 10px;
    	font-size: 1.1rem;
    	color: white;
	}
	.wpcf7-radio {
		display: inline-grid;
	}
	.icons-syrovyna {
		margin: 1px;
		font-size: .8rem;
	}
	.icons-syrovyna div {
		padding: 0;
		display: flex;
		align-items: center;
	}
	.vertical-mid {
		display: flex;
		align-items: center;
	}

	.lin-breck-call-form{
		width: 100%;
	}

	.green-investor-btn{
		background-color: #67b83f;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		border: none;
	    width: 40%;
	    height: 40px;
	    color: white;
	}

















